* {box-sizing: border-box;}

#margin_top {
    margin-top: 30px;
}
.overflow {
    max-height: 320px;
    overflow: auto;
    &::-webkit-scrollbar {
        width: 2px;
    }
}
#skin-frenzy-undefined-39,
#skin-classic-undefined-42,
#skin-ghost-undefined-37,
#skin-sheriff-undefined-39,
#skin-shorty-undefined-25,
#skin-spectre-undefined-48,
#skin-stinger-undefined-28,
#skin-judge-undefined-35,
#skin-bucky-undefined-31,
#skin-vandal-undefined-63,
#skin-bulldog-undefined-34,
#skin-phantom-undefined-66,
#skin-guardian-undefined-18,
#skin-guardian-undefined-38,
#skin-guardian-undefined-42,
#skin-operator-undefined-43,
#skin-marshal-undefined-30,
#skin-marshal-undefined-32,
#skin-odin-undefined-23,
#skin-ares-undefined-35,
#skin-judge-undefined-10,
#skin-judge-undefined-7,
#skin-bulldog-undefined-23,
#skin-bulldog-undefined-2,
#skin-operator-undefined-32 {
    display: none !important;
}

.block {
    display: flex;
    flex-direction: column;
}

.sect_principal {
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    
    .container_weapons {
        display: flex;
        padding: 40px;
        .file_1, .file_2, .file_3, .file_4 {
            width: 230px;
            .lap1 {  
                h2 {
                    background-color: #ff465578;
                    text-align: center;
                    font-size: 15px;
                    padding: 5px 0px;
                    font-weight: bold;
                    color: white;
                }                                  
                .lap2 {                         
                    .weapon-card {
                        width: 100%;
                        height: 120px;
                        background-color: #55555567;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: 8px;
                        position: relative;
                        &:hover {
                            background-color: #ff465647;
                            border: 3px solid #ff46569e;
                        }
                        img {
                            width: 70%;
                        }
                        .Name_pr {
                            position: absolute;
                            left: 10px;
                            bottom: 10px;
                            color: white;
                            .h4_primary {
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
        .file_2 {
            width: 250px;
        }
        .file_2, .file_4 {
            margin-left: 60px;
            .lap1 {
                .lap2 {
                    .weapon-card {
                        height: 137.5px;
                        img {
                            width: 70%;
                        }
                    }
                }
            }
        }
        .file_3 {
            margin-left: 10px;
            display: block;
            width: 260px;
            .lap1 {
                .lap2 {
                    .weapon-card {
                        height: 152px;
                        img {
                            width: 80%;
                        }
                    }
                }
            }
        }
        .file_4 {  
            margin-left: 10px;  
            width: 290px;     
        }
        .file_5 {}

    }

    .preview_weapons {
        width: 400px;
        height: 80%;
        display: flex;
        padding: 30px;
        .weapon-card {
            display: flex;
            justify-content: start;
            align-items: center;
            flex-direction: column;
            width: 100%;
            background-image: url(../../assets/image/stroke.png);
            overflow: hidden;
            position: relative;
            color: white;
            &:after {
                content: "";
                width: 500px;
                height: 300px;
                background-color: #FF4655;
                position: absolute;
                rotate: 45deg;
                right: -235px;
                top: -100px;
            }
            
            img {
                width: 90%;
                position: relative;
                z-index: 99;
            }
            .block_image {
                width: 100%;
                height: 200px;
                display: flex;
                justify-content: center;
                align-items: center;                
            }
            .h4_primary {
                width: 100%;
                text-align: center;
                font-size: 25px;
                margin-bottom: 20px;
                font-weight: bold;
            }
            .category_weapons {
                width: 290px;
                padding: 10px;
              
                .element_space {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    margin: 20px 0px;
                    position: relative;
                    .elementName {
                        color: #ffffff;
                        text-transform: uppercase;
                        font-weight: bold;
                    }
                    &:after {
                        content: '';
                        width: 100%;
                        height: 1px;
                        background-color: rgba(255, 255, 255, 0.856);
                        position: absolute;
                        bottom: -10px;
                        left: 0;
                    }
                }
            }
            .damage {
                width: 80%;
                text-align: start;
                margin-top: 30px;
            }

            .element_damage {
                display: flex;
                gap: 20px;
                text-align: center;
                justify-content: center;
                margin-top: 30px;
                .elementName {
                    color: #FF4655;
                    margin: 10px;
                }
            }
        }
    }
}




.block_absolute {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    display: flex;
    flex-direction: column;
    background-color: #191919;
    background-image: url('../../assets/image/fondo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 999;
    .block_preview--skins {
        width: 100%;
        height: 70vh !important;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        img {
            width: 40%;
        }
    }
    
    .block_skins {
        margin-top: 70vh;
        height: 28vh;
        overflow: auto;
        .element_skins {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            width: max-content;
            padding: 0px 30px;
            .block_weapons {
                background: #191919;
                width: 120px !important;
                height: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                img {
                    rotate: 70deg;
                    width: 170px;
                }
            }
        }
    }
}