* {box-sizing: border-box;}

#margin_top {
    margin-top: 30px;
}
.overflow {
    max-height: 320px;
    overflow: auto;
    &::-webkit-scrollbar {
        width: 2px;
    }
}

.block {
    display: flex;
    flex-direction: column;
}

.sect_principal {
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    
    .container_weapons {
        display: flex;
        padding: 40px;
        .file_1, .file_2, .file_3, .file_4 {
            width: 230px;
            .lap1 {  
                h2 {
                    background-color: #2edc6347;
                    text-align: center;
                    font-size: 15px;
                    padding: 5px 0px;
                    font-weight: bold;
                    color: white;
                }                                  
                .lap2 {                         
                    .weapon-card {
                        width: 100%;
                        height: 120px;
                        background-color: #55555567;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: 8px;
                        position: relative;
                        &:hover {
                            background-color: #8bdbca53;
                            border: 3px solid #8BDBCA;
                        }
                        img {
                            width: 70%;
                        }
                        .Name_pr {
                            position: absolute;
                            left: 10px;
                            bottom: 10px;
                            color: white;
                            .h4_primary {
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
        .file_2 {
            width: 250px;
        }
        .file_2, .file_4 {
            margin-left: 60px;
            .lap1 {
                .lap2 {
                    .weapon-card {
                        height: 137.5px;
                        img {
                            width: 70%;
                        }
                    }
                }
            }
        }
        .file_3 {
            margin-left: 10px;
            display: block;
            width: 260px;
            .lap1 {
                .lap2 {
                    .weapon-card {
                        height: 152px;
                        img {
                            width: 80%;
                        }
                    }
                }
            }
        }
        .file_4 {  
            margin-left: 10px;  
            width: 290px;     
        }
        .file_5 {}

    }

    .preview_weapons {
        width: 400px;
        height: 90%;
        display: flex;
        padding: 30px;
        .weapon-card {
            display: flex;
            justify-content: start;
            align-items: center;
            flex-direction: column;
            width: 100%;
            img {
                width: 90%;
            }
            .block_image {
                width: 100%;
                height: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .category_weapons {
                width: 270px;
                background-color: rgba(176, 176, 176, 0.316);
                padding: 20px;
                .h4_primary {
                    width: 100%;
                    text-align: center;
                    font-size: 25px;
                    margin-bottom: 20px;
                    font-weight: bold;
                }
                .element_space {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    margin: 5px 0px;
                }
            }
            .damage {
                width: 80%;
                text-align: start;
                margin-top: 30px;
            }

            .element_damage {
                display: flex;
                gap: 20px;
                text-align: center;
            }
        }
    }
}