<div class="page">
    <header>
        <div class="logoRiot"><img src="../../../assets/image/RiotGames.svg" alt=""></div>
        <div class="line"></div>
        <div class="vectorRiot"><img src="../../../assets/image/icoRiot.svg" alt=""></div>
        <ul>
            <li><a routerLink="homepage">HOME</a></li>
            <li><a routerLink="agents">AGENTS</a></li>
            <li><a routerLink="weapons">WEAPONS</a></li>
            <li><a routerLink="maps">MAPS</a></li>
        </ul>
    </header>
    <div id="nav-container" style="display: none;">
        <div class="bg"></div>
        <div class="button" tabindex="0">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div>
        <div id="nav-content" tabindex="0">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a routerLink="weapons">Weapons</a></li>
                <li><a routerLink="maps">Blog</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li class="small"><a href="#">Facebook</a><a href="#">Instagram</a></li>
            </ul>
        </div>
    </div>



    <!--Main principal de la pagina-->
    <main class="backgrund_Riot">
            <router-outlet />
    </main>
</div>





<!--<li><a routerLink="weapons">Weapons</a></li>-->